#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.bttn {
  margin-left: 1rem;
  width: 15rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.floating {
  margin-bottom: 1rem;
}

.card-r {
  margin-bottom: 1rem;
}

.content-r {
  padding: 2rem;
  font-size: 1rem;
}

br {
  margin: 2rem;
}
