<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>tela-valor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
  <ion-item>
    <ion-label>A média dos meses é de: {{mediaMeses}}°C</ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label>{{cultura}} então as seguintes frutas poderão ser cultivadas: {{frutas}}.</ion-label>
  </ion-item>
</ion-card>

</ion-content>
